server:
  port: 8080
spring:
  application:
    name: "ms_franquicias"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  webflux:
    base-path: /franchise/api/v1/

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true

adapters:
  reactive-web:
    product: "product"
    branch: "branch"
    franchise: "franchise"
  r2dbc:
    host: "localhost"
    port: 3306
    database: "franquicias"
    username: "user"
    password: "password"

